<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
      Id="*"
      Name="SyncDows Uninstaller"
      Language="1033"
      Version="$(var.PackageVersion)"
      Manufacturer="Fullm3t41"
      UpgradeCode="c10ef7ea-7769-46ea-8e3d-0ef0d97cbf95">
    <Package
        InstallerVersion="500"
        Compressed="yes"
        InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer SyncDows uninstaller is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Property Id="ARPSYSTEMCOMPONENT" Value="1" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="SyncDows">
          <Component Id="SyncDowsUninstallerComponent" Guid="539740a7-0241-464b-a351-bc54a6b62912" Win64="yes">
            <RemoveFolder Id="RemoveSyncDowsInstallFolder" Directory="INSTALLDIR" On="uninstall" />
            <File
                Id="SyncDowsUninstallerFile"
                Name="Uninstall SyncDows.exe"
                Source="$(var.UninstallerPath)"
                KeyPath="yes" />
            <RegistryValue
                Root="HKLM"
                Key="Software\Fullm3t41\SyncDows\Installer"
                Name="UninstallerInstalled"
                Type="integer"
                Value="1" />
          </Component>
          <Component Id="SyncDowsUninstallScriptComponent" Guid="01ca7229-a706-4510-a6fb-77ca9e033b71" Win64="yes">
            <File
                Id="SyncDowsUninstallScriptFile"
                Name="Uninstall-SyncDows.ps1"
                Source="$(var.UninstallScriptPath)"
                KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="SyncDowsUninstallerFeature" Title="SyncDows Uninstaller" Level="1">
      <ComponentRef Id="SyncDowsUninstallerComponent" />
      <ComponentRef Id="SyncDowsUninstallScriptComponent" />
    </Feature>
  </Product>
</Wix>
